<app-drawer-main-container>
    <div class="list-page-wrapper shadow-block">
        <div class="list-header">
            <h2>Liste des rôles</h2>
            <div>
                <ng-container *ngIf="request">
                    <mat-checkbox
                        [disabled]="loading"
                        [(ngModel)]="request.includeDisabled"
                        (ngModelChange)="loadData()"
                    >
                        Inclure archivés
                    </mat-checkbox>
                    <mat-form-field appearance="outline">
                        <mat-label>Nom</mat-label>
                        <input
                            matInput
                            autocomplete="off"
                            [(ngModel)]="request.search"
                            (ngModelChange)="loadDataDelayed()"
                            type="text"
                            placeholder="Search by user name"
                        />
                        <mat-icon
                            matSuffix
                            style="cursor: pointer"
                            (click)="request.search = ''; loadData()"
                        >
                            close</mat-icon
                        >
                    </mat-form-field>
                </ng-container>
            </div>
        </div>
        <div class="table-wrapper">
            <div
                class="loading-wrapper"
                [style.display]="loading ? '' : 'none'"
            >
                <mat-spinner diameter="50" strokeWidth="6"></mat-spinner>
            </div>
            <table
                mat-table
                [dataSource]="datasource"
                matSort
                matSortActive="role"
                matSortDirection="asc"
                (matSortChange)="sortChange($event)"
            >
                <ng-container matColumnDef="items-selection">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" style="width: 30px">
                        <mat-checkbox
                            color="primary"
                            [ngModel]="isItemChecked(element)"
                            (ngModelChange)="itemCheckedChange(element, $event)"
                        >
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container
                    [matColumnDef]="column"
                    *ngFor="let column of autoColumnsNames"
                >
                    <th
                        mat-header-cell
                        mat-sort-header
                        [disabled]="!getAutoColumnSortable(column)"
                        [class.notVisibleOnBigScreen]="column === 'forMobile'"
                        [class.notVisibleOnSmallScreen]="column !== 'forMobile'"
                        *matHeaderCellDef
                    >
                        {{ getAutoColumnLabel(column) }}
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        [class.notVisibleOnBigScreen]="column === 'forMobile'"
                        [class.notVisibleOnSmallScreen]="column !== 'forMobile'"
                        [innerHTML]="
                            getAutoColumnValue(element, column) | noSanitize
                        "
                    ></td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <a
                            [routerLink]="
                                '/' + RoutesList.AdminRoles + '/' + row.item.id
                            "
                            mat-icon-button
                        >
                            <mat-icon fontSet="material-icons-outlined"
                                >edit</mat-icon
                            >
                        </a>
                    </td>
                </ng-container>
                <tr
                    mat-header-row
                    *matHeaderRowDef="allVisibleColumns; sticky: true"
                ></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: allVisibleColumns"
                ></tr>
            </table>
        </div>
        <mat-paginator
            class="mat-paginator-sticky"
            [length]="filteredItemsCount"
            [pageSize]="20"
            [pageSizeOptions]="[10, 20, 100]"
        ></mat-paginator>
        <div>
            <button
                [disabled]="itemsChecked.length === 0"
                mat-raised-button
                color="warn"
                (click)="removeSelectedItems()"
            >
                Supprimer
            </button>
            <button
                [disabled]="itemsChecked.length === 0"
                mat-raised-button
                color="warn"
                (click)="removeSelectedItems(true)"
            >
                Archiver
            </button>
            <a
                color="primary"
                [routerLink]="'/' + RoutesList.AdminRoles + '/new'"
                mat-raised-button
            >
                <mat-icon fontSet="material-icons-outlined">add</mat-icon
                >Nouveau
            </a>
        </div>
    </div>
</app-drawer-main-container>
