<div style="padding: 30px; text-align: center">
    <div
        style="
            display: flex;
            justify-content: center;
            margin: 30px auto 70px auto;
        "
    >
        <img src="/assets/logos/logo-new.png" />
    </div>
    <h3 *ngIf="mode === 'forgot-password'">
        {{ 'Login.ResetPasswordFormTitle' | translate }}
    </h3>
    <h3 *ngIf="mode !== 'forgot-password'">
        🇫🇷 Création du mot de passe de votre compte / 🇬🇧 Create your account
        password
    </h3>
    <!-- <h4 style="font-weight: 300" *ngIf="mode === 'password-creation'">
        {{ 'Login.CreatePasswordFormSubTitle' | translate }}
    </h4> -->

    <h4 style="font-weight: 300" *ngIf="mode === 'password-creation'">
        🇫🇷 Un compte vous a été créé. Vous devez définir votre mot de passe afin
        de pouvoir vous connecter.
    </h4>
    <h4 style="font-weight: 300" *ngIf="mode === 'password-creation'">
        🇬🇧 An account has been created for you. You must set your password to
        login.
    </h4>
    <div>
        <form class="login-form" (ngSubmit)="changePassword()">
            <div>
                <mat-form-field style="width: 400px" appearance="outline">
                    <mat-icon style="margin-right: 10px" matPrefix
                        >lock
                    </mat-icon>
                    <mat-label>Mot de passe / Password</mat-label>
                    <!-- <mat-label>{{ 'Login.Password' | translate }}</mat-label> -->
                    <input
                        autocomplete="password"
                        [disabled]="loading"
                        matInput
                        type="password"
                        [placeholder]="'Mot de passe / Password'"
                        name="password"
                        [(ngModel)]="newPassword"
                        required
                    />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field style="width: 400px" appearance="outline">
                    <mat-icon style="margin-right: 10px" matPrefix
                        >lock
                    </mat-icon>
                    <mat-label>Confirmation / Confirm</mat-label>
                    <!-- <mat-label>{{
                        'Login.ResetPasswordConfirm' | translate
                    }}</mat-label> -->
                    <input
                        autocomplete="password"
                        [disabled]="loading"
                        matInput
                        type="password"
                        [placeholder]="'Confirmation / Confirm'"
                        name="password-confirm"
                        [(ngModel)]="newPasswordConfirm"
                        required
                    />
                </mat-form-field>
            </div>
            <div>
                <button
                    type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="loading"
                >
                    <div
                        style="
                            display: flex;
                            align-items: center;
                            justify-items: center;
                        "
                    >
                        <div>Valider / Validate</div>
                        <!-- <div>
                            {{ 'Global.Validate' | translate }}
                        </div> -->
                        <div
                            [style.display]="loading ? 'block' : 'none'"
                            style="margin: 0 8px"
                        >
                            <mat-spinner
                                diameter="20"
                                strokeWidth="3"
                            ></mat-spinner>
                        </div>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>
