app-job-references-distinct {
    .long-width {
        width: 270px;
    }
    .small-width {
        width: 130px;
    }

    mat-checkbox span.mat-checkbox-label {
        font-size: 13px;
    }
}
