app-newsletter-preview-dialog {
    display: block;
    height: 100%;
    display: flex;

    flex-direction: column;
    .mat-dialog-content {
        flex: auto;
        max-height: initial;
        overflow: hidden;
    }
    .preview-iframe {
        width: 100%;
        height: calc(100% - 5px);
        border-width: 0;
        // transform: scale(0.75);
        // -o-transform: scale(0.75);
        // -o-transform-origin: 0 0;
        // -webkit-transform: scale(0.75);
        // -webkit-transform-origin: 0 0;
    }
}
.newsletter-preview-dialog-wrapper {
    width: 98vw !important;
    height: 98vh;
    .mat-dialog-container {
        padding: 12px 12px !important;
        overflow: hidden;
    }

    .mat-dialog-actions {
        padding: 0 0 8px 0 !important;
    }
}
