// DIALOG SCSS
.dialog-main-container {
    position: relative;
    padding-top: 10px;
    border-radius: 10px;
    padding: 40px;

    @media screen and (max-width: 700px) {
        padding: 0px !important;
    }

    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
    }

    h1 {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 20px;
    }

    .btns-container {
        margin-top: 15px;
        justify-content: flex-end;
        display: flex;

        .validate-btn {
            //
        }

        .delete-btn {
            //
        }
    }
}

.mat-dialog-container {
    border-radius: 10px !important;
    padding: 40px !important;
}
