$default-background: #f7f9ff;
$header-height: 60px;
$header-background: #dedede;
$header-background-darker: #404450;
$left-side-background: #404450;
$left-side-width: 230px;
$left-side-width-collapsed: 0;
$screen-size-xs: 900px;
$left-menu-item-selected: #ececec;
$mmi-orange: #d76004;
$mmi-blue: #071e30;
$mmi-green: #7ba483;
$mobile-screen-size: 700px;
