<nextalys-app-autocomplete
    [loadData]="loadCandidate"
    [minLength]="2"
    [label]="label"
    [(ngModel)]="value"
    [matTooltip]="tooltip"
    matTooltipPosition="after"
    (clearInputClick)="value = null"
    [autoActiveFirstOption]="true"
    [autoCompleteIsLoading]="loading"
    [showClearButton]="true"
    [delay]="500"
    [disabled]="disabled"
    [autoClearInput]="true"
    [placeholder]="placeholder ? placeholder : 'Recherche d\'un candidat'"
    [displayLabel]="displayFunction"
>
</nextalys-app-autocomplete>
